<a href="https://colab.research.google.com/github/jeniferGoncalvesDaSilvaDev/data-analytics-python/blob/master/exerc%C3%ADcio_ciclo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import statistics as st
from matplotlib import pyplot as plt
import math

Lendo o dataframe

In [28]:
dt = pd.read_csv('/content/AB_NYC_2019.csv')
display(dt.head(5))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

Filtrando a coluna preços e tirando valores NaN

In [5]:

print(dt.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
dt_remove = dt.dropna()
display(dt_remove.head(5))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [10]:
print(dt_remove.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [11]:
precos =dt_remove.loc[:, 'price']
display(precos)

0        149
1        225
3         89
4         80
5        200
        ...
48782    129
48790     45
48799    235
48805    100
48852     30
Name: price, Length: 38821, dtype: int64

In [12]:
preco_max=max(precos)
preco_min=min(precos)
print(preco_max)
print(preco_min)

10000
0

Calculando o intervalo de variação

In [13]:
iv = preco_max - preco_min
print(iv)

10000

Calculando o desvio padrão em relação a media do mínimo de pernoites. Pegando a coluna de noites mínimas

In [16]:
pernoites = dt.loc[:,'minimum_nights']
display(pernoites)

0         1
1         1
2         3
3         1
4        10
         ..
48890     2
48891     4
48892    10
48893     1
48894     7
Name: minimum_nights, Length: 48895, dtype: int64

In [17]:
print(pernoites.isnull().sum())

0

Calculando a media de pernoites mínimas

In [24]:
media = np.mean(pernoites)
print(f'{media:.2f}')

7.03

Calculando o desvio padrão

In [23]:
desvp = st.stdev(pernoites)
print(f'{desvp:.2f}')

20.51

Qual a media e mediana de imóveis cadastrado por hosts

In [26]:
host_id = dt.loc[:,'host_id']
print(host_id)

0            2787
1            2845
2            4632
3            4869
4            7192
           ...
48890     8232441
48891     6570630
48892    23492952
48893    30985759
48894    68119814
Name: host_id, Length: 48895, dtype: int64

Media de imóveis cadastrado por hosts ids

In [27]:
media_hosts = st.mean(host_id)
print(media_hosts)

67620010.64661008

Mediana

In [29]:
mediana_host= st.median(host_id)
print(mediana_host)

30793816